# {{ ansible_managed }}
[Service.{{ openio_rdir_namespace }}-rdir-{{ openio_rdir_serviceid }}]
command=/usr/bin/oio-rdir-server /etc/oio/sds/{{ openio_rdir_namespace }}/{{ openio_rdir_servicename }}/{{ openio_rdir_servicename }}.conf
enabled=true
start_at_boot=true
on_die=respawn
group={{ openio_rdir_namespace }},rdir,{{ openio_rdir_serviceid }}
uid=openio
gid=openio
env.PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin
